/* =============== Variables =================*/


/* =============== Color =================*/
$primary-color :#df7116;
$secondary-color: #000000;
$tertiary-color: #ffffff;

/*================ Font ================*/
$font-small : rem(16px);
$font-medium : rem(22px);
$font-large: rem(42px);

/*================ Spacing ================*/

$spacing-unit: 40px;

$spacing-data: (
  'super-tight' round($spacing-unit*0.25),
  'extra-tight' round($spacing-unit*0.5),
  'tight' round($spacing-unit*0.75),
  'base' $spacing-unit,
  'loose' round($spacing-unit*1.5),
  'extra-loose' $spacing-unit*2
  'super-loose' $spacing-unit*4
);